{% extends "main.html" %}
{% block body %}
<h3 class="mt-5 mb-3">Category Overview</h3>
<div class="row pl-3 pt-3">
	<div class="col-8">
		{% for category in categories %}
		<div class="row mt-2 border rounded p-4">
			<div class="col-2">{{ category.id }}</div>
			<div class="col-4">{{ category.name }}</div>
			<div class="col-2"></div>
			<div class="col-4">
				<a class="btn btn-danger btn-block" href="/categories/overview/{{ category.id }}/delete" role="button">Delete category</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-4 pl-5">
	</div>
</div>
{% endblock %}