{% extends "main.html" %}
{% block body %}
<h3 class="mt-5 mb-3">Login</h3>
<div class="row pl-3 pt-3">
	<div class="col-8 border rounded p-4">
		<p>Welcome to Car Market! Please login using your Google account.</p>
		<div id="signinButton">
			<span class="g-signin"
				data-scope="openid email"
				data-clientid="682421561698-5khrng1f07mfben3s52c09h2roc35qn2.apps.googleusercontent.com"
				data-redirecturi="postmessage"
				data-accesstype="offline"
				data-cookiepolicy="single_host_origin"
				data-callback="signInCallback"
				data-approvalprompt="force">
			</span>
		</div>
		
		<!--
		<form method="POST">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-primary mt-3">Login</button>
		</form>
		-->
	</div>
	<div class="col-4 pl-5">
		<h5>Don't have an account?</h5>
		<a class="btn btn-primary btn-block mt-4" href="/signup" role="button">Sign up for free</a>
	</div>
</div>

<script>
function signInCallback(authResult) {
	if (authResult['code']) {
		// Hide the sign-in button now that the user is authorized
		$('#signinButton').attr('style', 'display: none');
		// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
		$.ajax({
			type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			data: authResult['code'],
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
			// Handle or verify the server response if necessary.
				if (result) {
					window.location.href = "/";
				} else if (authResult['error']) {
					console.log('There was an error: ' + authResult['error']);
				} else {
					$('#result').html('Failed to make a server-side call. Check your configuration and console.');
				}
			}
		});
	}
}
</script>

{% endblock %}