{% extends "main.html" %}
{% block body %}
<h3 class="mt-5 mb-3">Current Offers</h3>
<div class="row pt-4">

	<div class="col-8">
		{% for car in cars %}
		<div class="container">
			<div class="row border rounded p-4 mb-3">
				<div class="col-4"><img class="img-thumbnail" src="{{ url_for('static', filename=car.photo) }}"></div>
				<div class="col-8">
					<div class="container"><h5>{{ car.name }}</h5></div>
					<div class="container">{{ "$%.2f"|format(car.price) }}</div>
					<div class="container mt-3">
						<a class="btn btn-primary btn-block" href="/cars/view/{{ car.id }}/" role="button">
						View offer
						</a>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="card text-center pt-5 pb-5">
			<div class="card-body">
				<h5 class="card-title">No offers so far</h5>
				<p class="card-text">Why don't you add your own offer?</p>
				<a href="/cars/create" class="btn btn-primary">Add your offer</a>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="col-4">
		<h4>Categories</h4>
		<div class="container border rounded p-4 mt-4">
			{% for category in categories %}
			<div class="container"><h6><a href="/{{ category.name }}">{{ category.name }}</a></h6></div>
			{% else %}
			<div class="card-body text-center">
				<h5 class="card-title">No categories so far</h5>
				<a href="/categories/create" class="btn btn-primary">Add categories</a>
			</div>
			{% endfor %}
		</div>
	</div>

</div>
{% endblock %}